<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /cms/

    # SEO DOSTU ile gidilmesi gereken sayfalar
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^/]+)/([^/]+)/?$ index.php?target=$1&slug=$2 [QSA,L]

    # normal sayfalar
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^/]+)/?$ index.php?target=$1 [QSA,L]


</IfModule>
